<% provide(:title, 'Update Service Request')%>
<h1>Update Service Request #<%= "#{@service_request.service_request_number}" %> </h1>
<div class="row-fluid">
  <div class="span6 offset3">
    <%= form_for(@service_request) do |f| %>
	  <%= render 'shared/error_messages'%>
	  
	  <%= f.label :customer_first_name %>
	  <%= f.text_field :customer_first_name %>
	  
	  <%= f.label :customer_last_name %>
	  <%= f.text_field :customer_last_name %>
	  
	  <%= f.label :customer_email %>
	  <%= f.text_field :customer_email %>

      <%= f.label :description_of_work %>
      <%= f.text_area :description, size: '50x10' %>

      <%= f.submit "Update", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>  
</div>

<div class="row">
  <div class="span3 offset0">
    <%= form_for(@service_request) do |f| %>
	  <%= render 'shared/error_messages'%>
	  
	  <!--  The line below assures that the form gets printed in sorted order. Hooray -->
	  <%= f.fields_for :request_fields, f.object.request_fields.order(:id) do |builder| %>
	  <ul><%= builder.text_field :name, :readonly => true, :style => "text-align: Center" %></ul>
	  <% end %>
    <% end %>
  </div>
  
  <div class="span3 offset0">
    <%= form_for(@service_request) do |f| %>
	  <%= render 'shared/error_messages'%>
	  
	  <!--  The line below assures that the form gets printed in sorted order. Hooray -->
	  <%= f.fields_for :request_fields, f.object.request_fields.order(:id) do |builder| %>
  	  <ul><%= builder.text_field :notes %></ul>
	  <% end %>
	  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>