<% provide(:title, 'All Service Requests') %>

	<h1>All Service Requests</h1>
	
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Service Request Number</th>
				<th>Customer Name</th>
				<th>Description of work</th>
				<th>Status</th>
				<th>Actions</th>			
			</tr>
		</thead>
		<tbody>
			<% @service_requests = @service_requests.order("id") %>
	    	<% @service_requests.each do |service_request| %>
			<tr>
				<td><%= link_to service_request.service_request_number, service_request %></td>
				<td><%= "#{service_request.customer_first_name} #{service_request.customer_last_name}" %></td>
				<td><%= service_request.description %></td>
				<td><% status = service_request.status%>
					<% if status == 1%>
						<dd><%=image_tag("red_stoplight.jpg", size: "120x120")%></dd>
					<% elsif status == 2%>
						<dd><%=image_tag("yellow_stoplight.jpg", size: "120x120")%></dd>
					<% elsif status == 3%>
						<dd><%=image_tag("green_stoplight.jpg", size: "120x120")%></dd>
					<% end %>
				</td>
				<td><%= link_to "Edit", edit_service_request_path(service_request), class: 'btn btn-mini btn-danger' %>	<%= link_to "Delete", service_request, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "You sure? This action can't be undone." } %></td>
			</tr>
		</tbody>
		<% end %>
	</table>
	
	<%= will_paginate %>
<%= link_to "Create New Service Request", new_request_path, class: "btn btn-large btn-primary"%> 
