<% provide(:title, 'New Service Request')%>
<h1>New service request</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@service_request) do |f| %>
	  <%= render 'shared/error_messages'%>
	  
	  <%= f.label :customer_first_name %>
	  <%= f.text_field :customer_first_name %>
	  
	  <%= f.label :customer_last_name %>
	  <%= f.text_field :customer_last_name %>
	  
	  <%= f.label :customer_email %>
	  <%= f.text_field :customer_email %>

      <%= f.label :description %>
      <%= f.text_area :description, size: '50x10' %>

      <%= f.label :status %>
      <%= f.text_field :status %>

      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>