<%= form_for(@service_request) do |f| %>
<%= render 'shared/error_messages'%>

<table border="1" align="center">
<!--<table class = "table table-bordered">-->
	<th>Service</th>
	<th>Done ?</th>
	<th>Date</th>
	<th>Time</th>
	<th>Notes</th>
	</tr>
    <!--  The line below assures that the form gets printed in sorted order. Hooray -->
	<%= f.fields_for :request_fields, f.object.request_fields.order(:id).first(15) do |builder| %>
	
	<tr>
	<td><%= builder.text_field :name, :readonly => true, :style => "text-align: Center" %> </td>
	<td class = "center"> 
		<% if adminsigned_in? %>
		<%= builder.check_box :done %>  
		<% else %>
		<%= builder.check_box :done, :disabled => true%>  
		<% end %>
	</td>
	<td> 
		<% if adminsigned_in? %>
		<%= builder.text_field :date, :style => "text-align: Center", :size => 10 %> 
		<% else %>
		<%= builder.text_field :date, :readonly => true, :style => "text-align: Center", :size => 10 %>  
		<% end %>
	</td>
	<td>   
		<% if adminsigned_in? %>
		<%= builder.text_field :time, :style => "text-align: Center", :size => 10 %>
		<% else %>
		<%= builder.text_field :time, :readonly => true, :style => "text-align: Center", :size => 10 %> 
		<% end %>
	</td>
	<td>
		<% if adminsigned_in? %>
		<%= builder.text_field :notes, :style => "text-align: Center" %> 
		<% else %>
		<%= builder.text_field :notes, :readonly => true, :style => "text-align: Center" %>
		<% end %>
	</td>	
	</tr>
	<% end %>

</table>

<div style="vertical-align:top;">
<table border="1" style="float:left; display:inline-block;">
<!--<table class = "table table-bordered">-->
	<th>Electrical</th>
	<th>Done ?</th>
	<th>Notes</th>
	</tr>
    <!--  The line below assures that the form gets printed in sorted order. Hooray -->
	<%= f.fields_for :request_fields, f.object.request_fields.order(:id).drop(15).first(8) do |builder| %>
	
	<tr>
	<td><%= builder.text_field :name, :readonly => true, :style => "text-align: Center" %> </td>
	<td class = "center"> 
		<% if adminsigned_in? %>
		<%= builder.check_box :done %>  
		<% else %>
		<%= builder.check_box :done, :disabled => true%>  
		<% end %>
	</td>
	<td>
		<% if adminsigned_in? %>
		<%= builder.text_field :notes, :style => "text-align: Center" %> 
		<% else %>
		<%= builder.text_field :notes, :readonly => true, :style => "text-align: Center" %>
		<% end %>
	</td>	
	</tr>
	<% end %>

</table>

<table border="1" style="float:left; display:inline-block;">
<!--<table class = "table table-bordered">-->
	<th>Fuel/Air</th>
	<th>Done ?</th>
	<th>Notes</th>
	</tr>
    <!--  The line below assures that the form gets printed in sorted order. Hooray -->
	<%= f.fields_for :request_fields, f.object.request_fields.order(:id).drop(23).first(6) do |builder| %>
	
	<tr>
	<td><%= builder.text_field :name, :readonly => true, :style => "text-align: Center" %> </td>
	<td class = "center"> 
		<% if adminsigned_in? %>
		<%= builder.check_box :done %>  
		<% else %>
		<%= builder.check_box :done, :disabled => true%>  
		<% end %>
	</td>
	<td>
		<% if adminsigned_in? %>
		<%= builder.text_field :notes, :style => "text-align: Center" %> 
		<% else %>
		<%= builder.text_field :notes, :readonly => true, :style => "text-align: Center" %>
		<% end %>
	</td>	
	</tr>
	<% end %>

</table>

<table border="1" style="float:left; display:inline-block;">
<!--<table class = "table table-bordered">-->
	<th>Engine/Misc & Other</th>
	<th>Done ?</th>
	<th>Notes</th>
	</tr>
    <!--  The line below assures that the form gets printed in sorted order. Hooray -->
	<%= f.fields_for :request_fields, f.object.request_fields.order(:id).drop(29) do |builder| %>
	
	<tr>
	<td><%= builder.text_field :name, :readonly => true, :style => "text-align: Center" %> </td>
	<td class = "center"> 
		<% if adminsigned_in? %>
		<%= builder.check_box :done %>  
		<% else %>
		<%= builder.check_box :done, :disabled => true%>  
		<% end %>
	</td>
	<td>
		<% if adminsigned_in? %>
		<%= builder.text_field :notes, :style => "text-align: Center" %> 
		<% else %>
		<%= builder.text_field :notes, :readonly => true, :style => "text-align: Center" %>
		<% end %>
	</td>	
	</tr>
	<% end %>

</table>
</div>

<% if adminsigned_in? %>
	<div class = "center">
 	   <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
	</div>
<% end %>

<% end %>