<% provide(:title, "Service Request Number #{@service_request[:service_request_number]}")%>

<h1>Service Request #<%= "#{@service_request.service_request_number}" %> Summary</h1>
<div class="row">
	<div class="span12 offset4">
<dl class="dl-horizontal">
	<dt>Customer Name:</dt>
	<dd><%= @service_request.customer_first_name + " " + @service_request.customer_last_name%></dd></br>
	<br><dt>Date Created:</dt>
	<dd><%= @service_request.created_at.strftime("%I:%M%p on %m/%d/%Y") %></dd></br>
	<br><dt>Last Updated:</dt>
	<dd><%= @service_request.updated_at.strftime("%I:%M%p on %m/%d/%Y") %></dd></br>
	<br><dt>Description of Work:</dt>
	<dd><%= @service_request.description %></dd></br>
	<br><dt>Services Required:</dt>
	<% @service_request.request_fields.order(:id).first(15).each do |f| %>
		<% if f.done? %>
			<dd><%= f.name %></dd></br>
		<% end %>
	<% end %>
	<br><dt>Parts Used:</dt>
	<% @service_request.request_fields.order(:id).drop(15).first(22).each do |f| %>
		<% if f.done? %>
			<dd><%= f.name %><%= f.notes %></dd></br>
		<% end %>
	<% end %>
	<br><dt>Status:</dt>
	
	<!--<dd><%= @service_request.status %></dd>-->
	<% status = @service_request.status%>
	<% if status == 1%>
	<dd><%=image_tag("red_stoplight.jpg", size: "120x120")%></dd>
	<% elsif status == 2%>
	<dd><%=image_tag("yellow_stoplight.jpg", size: "120x120")%></dd>
	<% elsif status == 3%>
	<dd><%=image_tag("green_stoplight.jpg", size: "120x120")%></dd>
	<% end %>
</br>
</dl>
<dd>There 
		<% if ahead_in_queue(@service_request) == 1 %> 
			<%= "is "%>
		<% else %>
			<%= "are" %>
		<% end %>
		
		<%= pluralize(ahead_in_queue(@service_request), 'service request') %> being serviced ahead of yours.</dd>
	</div>
</div>