<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="navbar-brand"><%= link_to "College Scooters Service Tracker", root_path, id: "logo" %></a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "About", about_path %></li>
		  <% if adminsigned_in? %>
		    <li><%= link_to "Sign Out", adminsignout_path, method: "delete" %>
		  <% end %>
		  <% if retrieved? %>
		    <li><%= link_to "Sign Out", signout_path, method: "delete" %>
		  <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>